<div class="discussion">
  <%= image_tag discussion.user.gravatar_url %>
  <div class="discussion-user">
    <%= link_to discussion.user.email, discussion.user %> <%= t('.said') %>:
  </div>
  <div class="discussion-content">
    <%= discussion.content %>
  </div>
  <div class="discussion-date">
    <%= l discussion.created_at %>
  </div>
</div>

