.classical_form
  %h2= t :obra_type
  = form_for( obra_type ) do |f|
    = errors_for obra_type
    .form_element
      = f.label :description
      = f.text_field :name, :class => :text
    %p
      = f.submit button_label

= link_to t(:back), obra_types_path

