%tr
  %td= link_to obra_type.name, obra_type, :id => 'link_to_data'
  %td
    = link_to edit_obra_type_path(obra_type) do
      = image_tag 'edit.gif'
      = t(:edit)
  %td
    = link_to obra_type, :confirm => t('delete_msg', :name => obra_type.name), :method => :delete do
      = image_tag 'delete.gif'
      = t(:delete)

