<%= title t :obratypes %>

<h1><%= t :obratypes %></h1>

<%= link_to t(:new), new_obra_type_path %>

<%= form_tag  do %>
  <p>
    <%= t :search %>
    <%= text_field_tag :search_field %>
    <%= image_tag 'spinner.gif', :id => 'spinner', :style => "display:none;" %>
  </p>
<% end -%>

<%= will_paginate @obra_types, :previous_label => t('previous'), :next_label => t('next') %>

<div id="results">
  <%= render :partial => @obra_types %>
</div>

<%= will_paginate @obra_types, :previous_label => t('previous'), :next_label => t('next') %>

<%= link_to 'Home', root_path %>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(document).ready(function(){
    // when the #search field changes
    $("#search_field").live('keyup', function() {
      // make a POST call and replace the content
      $.post('<%= url_for(:action => 'obra_type_completion') %>/' + $("#search_field").val() , function(data) {
        $("#results").html(data);
      });
    });
  })
// ]]>
</script>

