= title @obra_type.name

.composer-profile
  .image
    = image_tag(@obra_type.image.attachment.url(:small)) if @obra_type.image
  .description
    %h1= @obra_type.name

= link_to t(:edit), edit_obra_type_path(@obra_type)
|
= link_to t(:back), obra_types_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@obra_type.discussions.size})"

  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @obra_type.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @obra_type}
    .user-discussions= render :partial => @obra_type.discussions
    .clear

:javascript
  $(function() {
  $("#tabs").tabs();
  });

