= title @obra_type.name

.composer-profile
  .image
    = image_tag(@obra_type.image.attachment.url(:small)) if @obra_type.image
  .description
    %h1= @obra_type.name

= link_to t(:edit), edit_obra_type_path(@obra_type)
|
= link_to t(:back), obra_types_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@obra_type.albums.size})"
    %li
      %a{:href => "#description"}Descripcion

  #albums
    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @obra_type.albums

  #description


:javascript
  $(function() {
  $("#tabs").tabs();
  });

