<h1>Editing languages</h1>

<% form_for(@language) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :locale %><br />
    <%= f.text_field :locale_name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @language %> |
<%= link_to 'Back', app_languages_path %>
