<div class="classical_form">
  <h2><%= "#{t :director}" %></h2>
  <% form_for( director ) do |f| %>
    <%= f.error_messages %>

    <div class='form_element'>
      <%= f.label :description %>
      <%= f.text_field :name, :class => :text %>
    </div>
    <p>
      <%= f.submit button_label %>
    </p>
  <% end %>
</div>

<%= link_to 'Back', directors_path %>

