.form
  %h2= t :director

  = form_for director do |f|
    = errors_for director
    .form_row
      = f.label :name
      = f.text_field :name, :class => :text

    .form_row
      = f.label :description
      = f.text_area :description, :class => :text

    .form_row_submit
      = f.submit :class => 'button'

= link_to t(:back), directors_path

