.classical_form
  %h2
    = "#{t :director}"

  = form_for director do |f|
    = errors_for director
    .form_element
      = f.label :description
      = f.text_field :name, :class => :text
    %p
      = f.submit button_label

= link_to 'Back', directors_path

