.form
  %h2= t :director

  = form_for director do |f|
    = errors_for director
    .field
      = f.label :description
      = f.text_field :name, :class => :text

    .field
      = f.submit button_label

= link_to t(:back), directors_path

