.classical_form
  %h2
    = "#{t :director}"

  - form_for( director ) do |f|
    = f.error_messages
    .form_element
      = f.label :description
      = f.text_field :name, :class => :text
    %p
      = f.submit button_label

= link_to 'Back', directors_path

