.composer-profile
  .image
    = image_tag(@director.image.attachment.url(:small)) if @director.image
  .description
    %h1= @director.name

= link_to t(:edit), edit_director_path(@director)
|
= link_to t(:back), directors_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@director.albums.size})"
    %li
      %a{:href => "#description"}Descripcion

  #albums
    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @director.albums

  #description

:javascript
  $(function() {
  $("#tabs").tabs();
  });

