= title @director.name

.composer-profile
  .image
    = image_tag(@director.image.attachment.url(:small)) if @director.image
  .description
    %h1= @director.name

= link_to t(:edit), edit_director_path(@director)
|
= link_to t(:back), directors_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@director.discussions.size})"


  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @director.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @director}
    .user-discussions= render :partial => @director.discussions
    .clear

:javascript
  $(function() {
  $("#tabs").tabs();
  });

