%tr
  %td= link_to composer.name, composer, :id => 'link_to_data'
  %td
    = link_to edit_composer_path(composer) do
      = image_tag 'edit.gif'
      = t(:edit)
  %td
    = link_to composer, :confirm => t('delete_msg', :name => composer.name), :method => :delete do
      = image_tag 'delete.gif'
      = t(:delete)

