= javascript_include_tag 'tiny_mce'

.form
  %h2= t :composer

  = form_for composer, :html => {:multipart => true} do |f|
    = errors_for(composer)
    .form_row
      = f.label :name
      = f.text_field :name, :class => "text"
    .form_row
      = f.label :nationality
      = f.text_field :nationality, :class => "text"
    .form_row
      = f.label :birth_date
      = date_select "composer", "birth_date", :prompt => true, :order => [:day, :month, :year]
    .form_row
      = f.label :death_date
      = date_select "composer", "death_date", :prompt => true, :order => [:day, :month, :year]

    .form_row
      = f.label :description
      = f.text_area :description

    .form_row_submit
      = f.submit :class => 'button'

:javascript
  tinyMCE.init({
    mode : "textareas",
    theme : "simple"
  });

