<div class="classical_form">
  <h2>Composer</h2>
  <% form_for( composer ) do |f| %>
    <%= f.error_messages %>

    <div class='form_element'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :nationality %>
      <%= f.text_field :nationality, :class => :text %>
    </div>
    <p>
      <%= f.submit button_label %>
    </p>
  <% end %>
</div>
<%= link_to 'Back', composers_path %>

