= title t :composers

%h1
  = t :composers

= link_to "#{t :new}", :new_composer

%br

- form_tag  do
  = t :search
  = text_field_tag :search_field
  = image_tag 'spinner.gif', :id => 'spinner', :style => 'display: none'

%br

#results
  = render :partial => 'result', :collection => @composers

%br

= link_to "Home", :controller => :home
= observe_field 'search_field', :url => {:action => 'composers_completion'}, :frequency => 1, :before => "Element.show('spinner')", :complete => [ visual_effect(:highlight, :results), "Element.hide('spinner')"], :update => :results, :with => 'prefix'

