= title @composer.name

.composer-profile
  .image
    = image_tag(@composer.image.attachment.url(:small)) if @composer.image
  .description
    %h1= @composer.name
    %ul
      %li
        %span.title Nacionalidad:
        = @composer.nationality
      %li
        %span.title Nacimiento:
        = @composer.birth_date

= link_to t(:edit), edit_composer_path(@composer)
|
= link_to t(:back), composers_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@composer.albums.size})"
    %li
      %a{:href => "#description"}= t('description')

  #albums
    = will_paginate @albums, :previous_label => t('previous'), :next_label => t('next') if @albums.respond_to? 'total_pages'

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = will_paginate @albums, :previous_label => t('previous'), :next_label => t('next') if @albums.respond_to? 'total_pages'
    .clear

  #description
    = @composer.description


:javascript
  $(function() {
  $("#tabs").tabs();
  });

