%h1
  = h @composer.full_name

= link_to 'Edit', edit_composer_path(@composer)
|
= link_to 'Back', composers_path

.albums
  .title Albums:

  = render :partial => 'albums/album_headers'
  .list= render :partial => @composer.albums

