= title @composer.name

.composer-profile
  .image
    = image_tag(@composer.image.attachment.url(:small)) if @composer.image
  .description
    %h1= @composer.name
    %ul
      %li
        %span.title Nacionalidad:
        = @composer.nationality
      %li
        %span.title Nacimiento:
        = @composer.birth_date
      %li
        %span.title Wiki:
        = link_to @composer.wiki_url, @composer.wiki_url, :target => '_blank'

= link_to t(:edit), edit_composer_path(@composer)
|
= link_to t(:back), composers_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@composer.discussions.size})"

  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @composer.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @composer}
    .user-discussions= render :partial => @composer.discussions
    .clear

:javascript
  $(function() {
    $("#tabs").tabs();
  });

