<div class='classical_form'>
  <h2>Sign up</h2>

  <%= error_messages_for :user %>
  <% form_for :user, :url => users_path do |f| -%>
    <p><label for="login">Login</label><br/>
    <%= f.text_field :login, :class => 'title' %></p>

    <p><label for="email">Email</label><br/>
    <%= f.text_field :email, :class => 'title' %></p>

    <p><label for="password">Password</label><br/>
    <%= f.password_field :password, :class => 'title' %></p>

    <p><label for="password_confirmation">Confirm Password</label><br/>
    <%= f.password_field :password_confirmation, :class => 'title' %></p>

    <p><label for="app_language_id">Select your language</label><br/>
    <%= collection_select :user, :app_language_id, languages, :id, :name, {:prompt => "Select a language"}, :class =>"languague" %>

    <p><%= f.submit button_label %></p>
  <% end -%>
</div>

