<div class="registration_form">
  <fieldset class="field_form">
    <legend>Registration</legend>
    
    <% form_for( user ) do |user| %>
		<p>
			<%= user.label :name %>
			<%= user.text_field :name %>
		</p>
		
		<p>
			<%= user.label :secondName %>
			<%= user.text_field :secondName %>
		</p>
		
		<p>
			<%= user.label :userName %>
			<%= user.text_field :userName %>
		</p>
		
		<p>
			<%= user.label :password %>
			<%= user.text_field :password %>
		</p>
		
		<p>
			<%= user.label :confirmPassword %>
			<%= user.text_field :confirmPassword %>
		</p>
		
		<p>
			<%= user.label :email %>
			<%= user.text_field :email %>
		</p>
	
    <% end %>
  </fieldset>
</div>