<%= title 'Home' %>

<h1>Welcome!</h1>

<% if logged_in? %>
	<p>
		You are logged in as <%= current_user.login %>
	</p>
	<p>
		<%= link_to	'Logout', logout_path, :id => 'link_logout' %>
	</p>
<% else %>
	<h2>You are currently not logged in.</h2>
	<p>
		<%= link_to	'Login', login_path, :id => 'link_login' %>
		or
		<%= link_to	'Join Now', signup_path, :id => 'link_join' %>
	</p>
<% end %>

