<%= title t :solists %>
<h1><%= t :solists %></h1>

<%= link_to t(:new), new_solist_path %>

<%= form_tag do %>
  <p>
    <%= t :search %>
    <%= text_field_tag :search_field %>
    <%= image_tag 'spinner.gif', :id => 'spinner', :style => "display:none" %>
  </p>
<% end -%>

<div id="results">
  <%= render :partial => @solists %>
</div>

<%= will_paginate @solists %>

<%= link_to 'Home', root_path %>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(document).ready(function(){
    // when the #search field changes
    $("#search_field").live('keyup', function() {
      // make a POST call and replace the content
      $.post('<%= url_for(:action => 'solist_completion') %>/' + $("#search_field").val() , function(data) {
        $("#results").html(data);
      });
    });
  })
// ]]>
</script>

