<%= title t :solists %>
<h1><%= t :solists %></h1>

<%= link_to t(:new), new_solist_path %>

<%= form_tag do %>
  <p>
    <%= t :search %>
    <%= text_field_tag :search_field %>
    <%= image_tag 'spinner.gif', :id => 'spinner', :style => "display:none" %>
  </p>
<% end -%>

<%= will_paginate @solists, :previous_label => t('previous'), :next_label => t('next') %>


<table class="data_table">
  <tr>
    <th><%= t :name %> </th>
    <th colspan=2><%= t :options %> </th>
  </tr>
  <tbody id="results">
    <%= render :partial => @solists %>
  </tbody>
</table>

<%= will_paginate @solists, :previous_label => t('previous'), :next_label => t('next') %>

<%= link_to 'Home', root_path %>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(document).ready(function(){
    // when the #search field changes
    $("#search_field").live('keyup', function() {
      // make a POST call and replace the content
      $.post('<%= url_for(:action => 'solist_completion') %>/' + $("#search_field").val() , function(data) {
        $("#results").html(data);
      });
    });
  })
// ]]>
</script>

