= title @solist.name

.composer-profile
  .image
    = image_tag(@solist.image.attachment.url(:small)) if @solist.image
  .description
    %h1= @solist.name

= link_to t(:edit), edit_solist_path(@solist)
|
= link_to t(:back), solists_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@solist.albums.size})"
    %li
      %a{:href => "#description"}= t('description')

  #albums
    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @solist.albums

  #description
    = @solist.description

:javascript
  $(function() {
  $("#tabs").tabs();
  });

