= title @solist.name

.composer-profile
  .image
    = image_tag(@solist.image.attachment.url(:small)) if @solist.image
  .description
    %h1= @solist.name

= link_to t(:edit), edit_solist_path(@solist)
|
= link_to t(:back), solists_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@solist.discussions.size})"

  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @solist.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @solist}
    .user-discussions= render :partial => @solist.discussions
    .clear

:javascript
  $(function() {
  $("#tabs").tabs();
  });

