.row
  .data= link_to album.name, album, :id => 'link_to_data'
  .data= link_to album.composer.full_name, album.composer, :id => 'link_to_data'
  .data= link_to album.obra_type.to_s, album.obra_type, :id => 'link_to_data'
  .data= link_to album.orchestra.to_s, album.orchestra, :id => 'link_to_data'
  .data= link_to album.director.to_s, album.director, :id => 'link_to_data'
  .data= link_to album.solist.to_s, album.solist, :id => 'link_to_data'
  .data= album.opus_number

  .data.controls
    = link_to "Edit", edit_album_path(album)
    = link_to "#{t :delete}", album, :confirm => "Are you sure you want to remove the album: #{album.name}?", :method => :delete

