%tr
  %th= sort_link @search, :name
  - unless @section == 'composers'
    %th= sort_link @search, :composer_name
  - unless @section == 'obra_types'
    %th= sort_link @search, :obra_type_name
  - unless @section == 'orchestras'
    %th= sort_link @search, :orchestra_name
  - unless @section == 'directors'
    %th= sort_link @search, :director_name
  - unless @section == 'solists'
    %th= sort_link @search, :solist_name
  %th= sort_link @search, :opus_number
  %th= sort_link @search, :cd_number

