%tr
  %td= image_tag album.photo.url(:small)
  %td= link_to album.name, album, :id => 'link_to_data'
  %td= link_to "Edit", edit_album_path(album)
  %td= link_to "#{t :delete}", album, :confirm => 'Are you sure?', :method => :delete

