.row
  .data= t('name')
  - unless @section == 'composers'
    .data= t('composer')
  - unless @section == 'obra_types'
    .data= t('obra_type')
  - unless @section == 'orchestras'
    .data= t('orchestra')
  - unless @section == 'directors'
    .data= t('director')
  - unless @section == 'solists'
    .data= t('solist')
  .data= t('opus_number')
  .data= t('cd_number')

