%tr
  %th= sortable 'name', t('name')
  - unless @section == 'composers'
    %th= sortable 'composers.name', t('composer')
  - unless @section == 'obra_types'
    %th= sortable 'obra_types.name', t('obra_type')
  - unless @section == 'orchestras'
    %th= sortable 'orchestras.name', t('orchestra')
  - unless @section == 'directors'
    %th= sortable 'directors.name', t('director')
  - unless @section == 'solists'
    %th= sortable 'solists.name', t('solist')
  %th= sortable 'opus_number', t('opus_number')
  %th= sortable 'cd_number', t('cd_number')

