%tr
  %th= t('name')
  - unless @section == 'composers'
    %th= t('composer')
  - unless @section == 'obra_types'
    %th= t('obra_type')
  - unless @section == 'orchestras'
    %th= t('orchestra')
  - unless @section == 'directors'
    %th= t('director')
  - unless @section == 'solists'
    %th= t('solist')
  %th= t('opus_number')
  %th= t('cd_number')

