%tr
  %th= sort_link @search, :name
  - unless @section == 'composers'
    %th= sort_link @search, :composer_name, t(:composer)
  - unless @section == 'obra_types'
    %th= sort_link @search, :obra_type_name, t(:obra_type)
  - unless @section == 'orchestras'
    %th= sort_link @search, :orchestra_name, t(:orchestra)
  - unless @section == 'directors'
    %th= sort_link @search, :director_name, t(:director)
  - unless @section == 'solists'
    %th= sort_link @search, :solist_name, t(:solist)
  %th= sort_link @search, :opus_number, t(:opus_number)

