%tr
  %td= link_to album.name, album, :id => 'link_to_data'

  - unless @section == 'composers'
    %td= link_to(album.composer.name, album.composer, :id => 'link_to_data')

  - unless @section == 'obra_types'
    %td= link_to album.obra_type.to_s, album.obra_type, :id => 'link_to_data'

  - unless @section == 'orchestras'
    %td= link_to album.orchestra.to_s, album.orchestra, :id => 'link_to_data'

  - unless @section == 'directors'
    %td= link_to album.director.to_s, album.director, :id => 'link_to_data'

  - unless @section == 'solists'
    %td= link_to album.solist.to_s, album.solist, :id => 'link_to_data'

  %td= album.opus_number
  %td
    = link_to new_album_user_album_path(album) do
      = image_tag 'add.png', :width => 16
      = t('add')

