<div class='form'>

  <h2>Album</h2>

  <%= form_for album, :html => { :multipart => true } do |f| %>
    <%= errors_for album %>

    <div class='form_row'>
      <%= f.label :composer %>
      <%= select :album, :composer_id, Composer.find(:all, :order => :name).collect{|composer| [composer.name, composer.id]} %>
    </div>
    <div class='form_row'>
      <%= f.label :obra_type %>
      <%= select :album, :obra_type_id, ObraType.find(:all, :order => :name).collect{|obra_type| [obra_type.name, obra_type.id] } %>
    </div>
    <div class='form_row'>
      <%= f.label :name %>
      <%= f.text_field :name, :class => :text %>
    </div>
    <div class='form_row'>
      <%= f.label :music_tone %>
      <%= f.text_field :music_tone, :class => :text %>
    </div>
    <div class='form_row'>
      <%= f.label :obra_number %>
      <%= f.text_field :number, :class => :text %>
    </div>
    <div class='form_row'>
      <%= f.label :opus_number %>
      <%= f.text_field :opus_number, :class => :text %>
    </div>
    <div class='form_row'>
      <%= f.label :instrument %>
      <%= select :album, :instrument_id, Instrument.find(:all, :order => :name).collect{|instrument| [instrument.name, instrument.id] } %>
    </div>
    <div class='form_row'>
      <%= f.label :solist %>
      <%= select :album, :solist_id, Solist.find(:all, :order => :name).collect{|solist| [solist.name, solist.id] } %>
    </div>
    <div class='form_row'>
      <%= f.label :director %>
      <%= select :album, :director_id, Director.find(:all, :order => :name).collect{|director| [director.name, director.id] } %>
    </div>
    <div class='form_row'>
      <%= f.label :orchestra %>
      <%= select :album, :orchestra_id, Orchestra.find(:all, :order => :name).collect{|orchestra| [orchestra.name, orchestra.id] } %>
    </div>
    <div class='form_row_submit'>
      <%= f.submit :class => 'button'%>
    </div>
  <%= end %>
</div>

<%= link_to t(:back), albums_path %>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
$(document).ready(function(){
  $("#album_obra_type_id").combobox();
  $("#album_composer_id").combobox();
  $("#album_solist_id").combobox();
  $("#album_director_id").combobox();
  $("#album_orchestra_id").combobox();
  $("#album_instrument_id").combobox();
});
// ]]>
</script>

