.classical_form
  %h2
    Album
  - form_for album, :html => { :multipart => true } do |f|
    = f.error_messages
    .form_element
      = f.label :composer
      = text_field_with_auto_complete :album, :composer_full_name, { :class => :text, :size => 40 }, { :url => composers_path(:format => :js), :method => :get, :with => "'search=' + element.value" }
    .form_element
      = f.label :Obra_Type
      = text_field_with_auto_complete :album, :obra_type_name, { :class => :text, :size => 40 }, { :url => obra_types_path(:format => :js), :method => :get, :with => "'search=' + element.value" }
    .form_element
      = f.label :name
      = f.text_field :name, :class => :text
    .form_element
      = f.label :music_tone
      = f.text_field :music_tone, :class => :text
    .form_element
      = f.label :obra_number
      = f.text_field :number, :class => :text
    .form_element
      = f.label :opus_number
      = f.text_field :opus_number, :class => :text
    .form_element
      = f.label :instrument
      = select_tag("album[instrument_ids][]", options_for_select(Instrument.find(:all).collect { |cat| [cat.name, cat.id] }, album.instruments.collect { |cat| cat.id}), {:multiple=>true, :size=>6})
      #list_instruments
    .form_element
      = f.label :solist
      = text_field_with_auto_complete :album, :solist_name, { :class => :text, :size => 40 }, { :url => solists_path(:format => :js), :method => :get, :with => "'search=' + element.value" }
    .form_element
      = f.label :director
      = text_field_with_auto_complete :album, :director_name, { :class => :text, :size => 40 }, { :url => directors_path(:format => :js), :method => :get, :with => "'search=' + element.value" }
    .form_element
      = f.label :orchestra
      = text_field_with_auto_complete :album, :orchestra_name, { :class => :text, :size => 40 }, { :url => orchestras_path(:format => :js), :method => :get, :with => "'search=' + element.value" }
    .form_element
      = f.label :cd_number
      = f.text_field :cd_number,:class => :text
    .form_element
      = f.label :cover_art
      = f.file_field :photo
      = image_tag album.photo.url(:small) if album.photo

    %br
    %p
      = f.submit button_label

= link_to 'Back', albums_path

