<div class="classical_form">
  <fieldset class="field_form">
    <legend>Album Details</legend>
    
    <% form_for( album ) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.submit button_label %>
      </p>
    <% end %>
  </fieldset>
</div>
<%= link_to 'Back', albums_path %>