<div class="classical_form">
  <h2>Album</h2>
  <% form_for( album ) do |f| %>
    <%= f.error_messages %>

    <div class='form_element'>
      <%= f.label :composer %>
      <%= text_field_with_auto_complete :album, :composer_full_name, { :class => :text, :size => 40 }, { :url => composers_path(:format => :js),
										:method => :get,
										:with => "'search=' + element.value" } %>
    </div>
    <div class='form_element'>
      <%= f.label :Obra_Type %>
      <%= text_field_with_auto_complete :album, :obra_type_name, { :class => :text, :size => 40 }, { :url => obra_types_path(:format => :js),
										:method => :get,
										:with => "'search=' + element.value" } %>
    </div>
    <div class='form_element'>
      <%= f.label :name %>
      <%= f.text_field :name, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :music_tone %>
      <%= f.text_field :music_tone, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :obra_number %>
      <%= f.text_field :number, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :opus_number %>
      <%= f.text_field :opus_number, :class => :text %>
    </div>
    <div class='form_element'>
      <%= f.label :instrument %>

      <%= select_tag("album[instrument_ids][]", options_for_select(Instrument.find(:all).collect { |cat| [cat.name, cat.id] }, album.instruments.collect { |cat| cat.id}), {:multiple=>true, :size=>6})%>

      <div id='list_instruments'></div>
    </div>
    <div class='form_element'>
      <%= f.label :solist %>
      <%= text_field_with_auto_complete :album, :solist_name, { :class => :text, :size => 40 }, { :url => solists_path(:format => :js),
										:method => :get,
										:with => "'search=' + element.value" } %>
    </div>
    <div class='form_element'>
      <%= f.label :director %>
      <%= text_field_with_auto_complete :album, :director_name, { :class => :text, :size => 40 }, { :url => directors_path(:format => :js),
										:method => :get,
										:with => "'search=' + element.value" } %>
    </div>
    <div class='form_element'>
      <%= f.label :orchestra %>
      <%= text_field_with_auto_complete :album, :orchestra_name, { :class => :text, :size => 40 }, { :url => orchestras_path(:format => :js),
										:method => :get,
										:with => "'search=' + element.value" } %>
    </div>
    <div class='form_element'>
      <%= f.label :cd_number %>
      <%= f.text_field :cd_number,:class => :text %>
    </div>
    <p>
      <%= f.submit button_label %>
    </p>
  <% end %>
</div>
<%= link_to 'Back', albums_path %>

