<div class="classical_form">
  <fieldset class="field_form">
    <legend>Album Details</legend>

    <% form_for( album ) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :composer %>
        <%= text_field_with_auto_complete :album, :composer_full_name, { :size => 40 }, { :url => formatted_composers_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :Obra_Type %>
        <%= text_field_with_auto_complete :album, :obra_type_name, { :size => 40 }, { :url => formatted_obra_types_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :music_tone %>
        <%= f.text_field :music_tone %>
      </p>
      <p>
        <%= f.label :obra_number %>
        <%= f.text_field :number %>
      </p>
      <p>
        <%= f.label :opus_number %>
        <%= f.text_field :opus_number %>
      </p>
      <p>
        <%= f.label :instrument %>
        <%= text_field_with_auto_complete :instruments, :instruments_name, { :size => 40 }, { :url => formatted_instruments_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :solist %>
        <%= text_field_with_auto_complete :album, :solist_name, { :size => 40 }, { :url => formatted_solists_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :director %>
        <%= text_field_with_auto_complete :album, :director_name, { :size => 40 }, { :url => formatted_directors_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :orchestra %>
        <%= text_field_with_auto_complete :album, :orchestra_name, { :size => 40 }, { :url => formatted_orchestras_path(:js),
											:method => :get,
											:with => "'search=' + element.value" } %>
      </p>
      <p>
        <%= f.label :cd_number %>
        <%= f.text_field :cd_number %>
      </p>
      <p>
        <%= f.submit button_label %>
      </p>
    <% end %>
  </fieldset>
</div>
<%= link_to 'Back', albums_path %>

