<p>
  <%=h result.id %>
  <%=h result.name %>

  <%= link_to "Show", result %>
  <%= link_to "Edit", edit_album_path(result) %>
  <%= link_to "Delete", result, :confirm => 'Are you sure?', :method => :delete %>
</p>
