= title t :albums

%h1
  Albums

= link_to "#{t :new}", :new_album

- form_tag '/albums/search'  do
  %p
    = t :search
    = text_field_tag :query
    = select_tag :type, options_for_select([['director', 'director'], ['solista', 'solist'], ['orquesta', 'orchestra'], ['compositor', 'composer']])
    = submit_tag 'Buscar'

#results
  = render :partial => "album_headers"
  = render :partial => @albums

- if @albums.respond_to? 'total_pages'
  = will_paginate @albums, :previous_label => t('previous'), :next_label => t('next')

