= title t(:albums)

%h1= t :albums

%p= link_to "#{t :new}", new_album_path

= form_tag albums_path, :method => :get, :class => 'search-form'  do
  %p
    = t :search
    = text_field_tag :query, @query
    = select_tag :type, options_for_select([['nombre', 'name'], ['director', 'director_name'], ['solista', 'solist_name'], ['orquesta', 'orchestra_name'], ['compositor', 'composer_name']], @type)
    = submit_tag 'Buscar'

.pagination-links= render :partial => 'paginator'

#results= render :partial => 'albums'

.pagination-links= render :partial => 'paginator'

