= title t(:albums)

%h1= t :albums

%p= link_to "#{t :new}", new_album_path

= form_tag albums_path, :method => :get, :class => 'search-form'  do
  %p
    = t :search
    = text_field_tag :query, @query
    = select_tag :type, options_for_select([['nombre', 'name'], ['director', 'director_name'], ['solista', 'solist_name'], ['orquesta', 'orchestra_name'], ['compositor', 'composer_name']], @type)
    = submit_tag 'Buscar'


= will_paginate @albums, :previous_label => t('previous'), :next_label => t('next') if @albums.respond_to? 'total_pages'

%table.data_table
  = render :partial => 'album_headers'
  %tbody#results= render :partial => @albums

= will_paginate @albums, :previous_label => t('previous'), :next_label => t('next') if @albums.respond_to? 'total_pages'

