.cover_art
  = image_tag @album.photo.url(:thumb), :class => "cover_arts"

%p
  %b
    Composer:
  = link_to @album.composer.full_name, @album.composer if @album.composer
%p
  %b
    Obra Type:
  = link_to @album.obra_type.name, @album.obra_type if @album.obra_type
%p
  %b
    Name:
  = h @album.name
%p
  %b
    Music Tone:
  = h @album.music_tone
%p
  %b
    Obra Number:
  = h @album.number
%p
  %b
    Opus Number:
  = h @album.opus_number
%p
  %b
    Instrument:
  - @album.instruments.each do |instrument|
    = link_to instrument.name, instrument

%p
  %b
    Solist:
  = link_to @album.solist.name, @album.solist if @album.solist
%p
  %b
    Director:
  = link_to @album.director.name, @album.director if @album.director
%p
  %b
    Orchestra:
  = link_to @album.orchestra.name, @album.orchestra if @album.orchestra
%p
  %b
    Cd Number:
  = h @album.cd_number

= link_to 'Edit', edit_album_path(@album)
|
= link_to 'Back', albums_path

