.form
  %h2= t :orchestra
  = form_for orchestra do |f|
    = errors_for orchestra

    .form_row
      = f.label :name
      = f.text_field :name, :class => :text

    .form_row
      = f.label :description
      = f.text_area :description, :class => :text

    .form_row_submit
      = f.submit button_label, :class => 'button'

= link_to t(:back), orchestras_path

