.classical_form
  %h2
    = "#{t :orchestra}"
  - form_for( orchestra ) do |f|
    = f.error_messages
    .form_element
      = f.label :description
      = f.text_field :name, :class => :text
    %p
      = f.submit button_label

= link_to 'Back', orchestras_path

