%tr
  %td= link_to orchestra.name, orchestra, :id => 'link_to_data'
  %td
    = link_to edit_orchestra_path(orchestra) do
      = image_tag 'edit.gif'
      = t(:edit)
  %td
    = link_to orchestra, :confirm => 'Are you sure?', :method => :delete do
      = image_tag 'delete.gif'
      = t(:delete)

