<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Classical - Orchestra</title>
  </head>
  <body>
    <h1>Orchestras</h1>

    <%= link_to "New", :new_orchestra %>

    <br>
    <% @orchestras.each do | orchestra | %>
      <p>
        <%=h orchestra.id %>
        <%=h orchestra.name %>

        <%= link_to "Show", orchestra %>
        <%= link_to "Edit", edit_orchestra_path(orchestra) %>
        <%= link_to "Delete", orchestra, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    <% end %>
    <br>
    <%= link_to "Home", :controller => :home %>

  </body>
</html>