%h1
  = h @orchestra.name
= link_to 'Edit', edit_orchestra_path(@orchestra)
|
= link_to 'Back', orchestras_path

.albums
  .title Albums:

  = render :partial => 'albums/album_headers'
  .list= render :partial => @orchestra.albums

