.composer-profile
  .image
    = image_tag(@orchestra.image.attachment.url(:small)) if @orchestra.image
  .description
    %h1= @orchestra.name

= link_to t(:edit), edit_orchestra_path(@orchestra)
|
= link_to t(:back), orchestras_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@orchestra.albums.size})"
    %li
      %a{:href => "#description"}Descripcion

  #albums
    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @orchestra.albums

  #description

:javascript
  $(function() {
  $("#tabs").tabs();
  });

