= title @orchestra.name

.composer-profile
  .image
    = image_tag(@orchestra.image.attachment.url(:small)) if @orchestra.image
  .description
    %h1= @orchestra.name

= link_to t(:edit), edit_orchestra_path(@orchestra)
|
= link_to t(:back), orchestras_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@orchestra.discussions.size})"

  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @orchestra.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @orchestra}
    .user-discussions= render :partial => @orchestra.discussions
    .clear

:javascript
  $(function() {
  $("#tabs").tabs();
  });

