.classical_form
  %h2
    = "#{t :instrument}"

  = form_for( instrument ) do |f|
    = errors_for instrument
    .form_element
      = f.label :description
      = f.text_field :name, :class => :text
    %p
      = f.submit button_label

= link_to 'Back', instruments_path

