.form
  %h2= t :instrument

  = form_for instrument do |f|
    = errors_for instrument
    .field
      = f.label :description
      = f.text_field :name, :class => :text
    .field
      = f.submit button_label

= link_to t(:back), instruments_path

