%tr
  %td= link_to instrument.name, instrument, :id => 'link_to_data'
  %td
    = link_to edit_instrument_path(instrument) do
      = image_tag 'edit.gif'
      = t(:edit)
  %td
    = link_to instrument, :confirm => t('delete_msg', :name => instrument.name), :method => :delete do
      = image_tag 'delete.gif'
      = t(:delete)
