<%= title t :instruments %>
<h1><%= t :instruments %></h1>

<p>
  <%= link_to t(:new), new_instrument_path %>
</p>

<%= form_tag nil, :class => 'search-form' do %>
  <%= t :search %>
  <%= text_field_tag :search_field %>
<% end -%>

<div class="paginator">
  <%= paginate @instruments %>
</div>

<table class="data_table">
  <tr>
    <th><%= t :name %> </th>
    <th colspan=2><%= t :options %> </th>
  </tr>
  <tbody id="results">
    <%= render :partial => @instruments %>
  </tbody>
</table>

<%= paginate @instruments %>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $(document).ready(function(){
    // when the #search field changes
    $("#search_field").live('keyup', function() {
      // make a POST call and replace the content
      $.post('<%= url_for(:action => 'instrument_completion') %>/' + $("#search_field").val() , function(data) {
        $("#results").html(data);
      });
    });
  })
// ]]>
</script>

