= title @instrument.name

%h1= @instrument.name

= link_to t(:edit), edit_instrument_path(@instrument)
|
= link_to t(:back), instruments_path

#tabs
  %ul
    %li
      %a{:href => "#user-albums"}= "My albums (#{@user_albums.size})"
    %li
      %a{:href => "#albums"}= "Albums (#{@albums.size})"
    %li
      %a{:href => "#description"}= t('description')
    %li
      %a{:href => "#discussions"}= "#{t('discussions_title')} (#{@instrument.discussions.size})"

  #user-albums
    = paginate @user_albums

    %table.data_table
      = render :partial => 'user_albums/album_headers'
      = render :partial => @user_albums

    = paginate @user_albums
    .clear

  #albums
    = paginate @albums

    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @albums

    = paginate @albums
    .clear

  #description
    = @instrument.description

  #discussions
    = render :partial => 'discussions/form', :locals => {:discussable => @instrument}
    .user-discussions= render :partial => @instrument.discussions
    .clear

:javascript
  $(function() {
  $("#tabs").tabs();
  });

