= title @instrument.name

%h1= @instrument.name

= link_to t(:edit), edit_instrument_path(@instrument)
|
= link_to t(:back), instruments_path

#tabs
  %ul
    %li
      %a{:href => "#albums"}= "Albums (#{@instrument.albums.size})"
    %li
      %a{:href => "#description"}= t('description')

  #albums
    %table.data_table
      = render :partial => 'albums/album_headers'
      = render :partial => @instrument.albums

  #description
    = @instrument.description

:javascript
  $(function() {
  $("#tabs").tabs();
  });

