<ul id="menu">
  <li class='<%= "#{'current_page_item' if @section == 'user_albums'}" %>'>
     <%= link_to "My Albums", user_user_albums_path(current_user) %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'albums'}" %>'>
     <%= link_to "Albums", albums_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'composers'}" %>'>
    <%= link_to "#{t :composers}", composers_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'obra_types'}" %>'>
     <%= link_to "#{t :obratypes}", obra_types_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'solists'}" %>'>
     <%= link_to "#{t :solists}", solists_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'directors'}" %>'>
     <%= link_to "#{t :directors}", directors_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'orchestras'}" %>'>
     <%= link_to "#{t :orchestras}", orchestras_path %>
  </li>
  <li class='<%= "#{'current_page_item' if @section == 'instruments'}" %>'>
     <%= link_to "#{t :instruments}", instruments_path %>
  </li>
</ul>

