<ul id="menu">
  <li>
    <b>
     <%= link_to "Albums", albums_path, :class => "#{'active' if @section == 'albums'}" %>
     </b>
  </li>
  <li>
    <b>
    <%= link_to "#{t :composers}", composers_path, :class => "#{'active' if @section == 'composers'}" %>
    </b>
  </li>
  <li>
    <b>
     <%= link_to "#{t :obratypes}", obra_types_path, :class => "#{'active' if @section == 'obra_types'}" %>
    </b>
  </li>
  <li>
    <b>
     <%= link_to "#{t :solists}", solists_path, :class => "#{'active' if @section == 'solists'}" %>
    </b>
  </li>
  <li>
    <b>
     <%= link_to "#{t :directors}", directors_path, :class => "#{'active' if @section == 'directors'}" %>
    </b>
  </li>
  <li>
    <b>
     <%= link_to "#{t :orchestras}", orchestras_path, :class => "#{'active' if @section == 'orchestras'}" %>
    </b>
  </li>
  <li>
    <b>
     <%= link_to "#{t :instruments}", instruments_path, :class => "#{'active' if @section == 'instruments'}" %>
    </b>
  </li>
</ul>

