<ul id="menu">
  <li>
    <%= link_to "<b>Albums</b>", albums_path, :class => "#{'active' if @section == 'albums'}" %>
  </li>
  <li>
    <%= link_to "<b>#{t :composers}</b>", composers_path, :class => "#{'active' if @section == 'composers'}" %>
  </li>
  <li>
     <%= link_to "<b>#{t :obratypes}</b>", obra_types_path, :class => "#{'active' if @section == 'obra_types'}" %>
  </li>
  <li>
     <%= link_to "<b>#{t :solists}</b>", solists_path, :class => "#{'active' if @section == 'solists'}" %>
  </li>
  <li>
     <%= link_to "<b>#{t :directors}</b>", directors_path, :class => "#{'active' if @section == 'directors'}" %>
  </li>
  <li>
     <%= link_to "<b>#{t :orchestras}</b>", orchestras_path, :class => "#{'active' if @section == 'orchestras'}" %>
  </li>
  <li>
     <%= link_to "<b>#{t :instruments}</b>", instruments_path, :class => "#{'active' if @section == 'instruments'}" %>
  </li>
</ul>

