<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <%= stylesheet_link_tag "classical", "menu" , :media => "all" %>
		<%= javascript_include_tag :defaults %>

    <title>Classical - <%= (yield :title) || 'Lalala'	%></title>
  </head>
  <body>
  	<div id="contenedor">
	    <div id="head">
 
        <div id="user">
          <% if logged_in? %>
            <%= h current_user.login %>
            <%= link_to	'Logout', logout_path, :id => 'link_logout' %>
          <% end %>
        </div>
        <div id="title">
          <h1><%= link_to 'Classical', home_path, :id => 'link_home' %></h1>  
        </div>	     
		    <div id="menu">
		      <ul id="menu">
            <li id="album">
	            <%= link_to "<b>Albums</b>", albums_path %>
	          </li>
	          <li id="composer">
	            <%= link_to "<b>#{t :composers}</b>", composers_path %>
	          </li>
	          <li id="obratype">
	             <%= link_to "<b>#{t :obratypes}</b>", obra_types_path %>
	          </li>
	          <li id="solist">
	             <%= link_to "<b>#{t :solists}</b>", solists_path %>
	          </li>
	          <li id="director">
	             <%= link_to "<b>#{t :directors}</b>", directors_path %>
	          </li>
            <li id="orchestra">
	             <%= link_to "<b>#{t :orchestras}</b>", orchestras_path %>
	          </li>
            <li id="instrument">
	             <%= link_to "<b>#{t :instruments}</b>", instruments_path %>
	          </li>
	        </ul>
		    </div>	      
	    </div>
	    <div id="content">
				<p>
					<div id='error' style="color: red">
						<%= flash[:error] %>
					</div>
					<div id='error' style="color: green">
						<%= flash[:notice] %>
					</div>
				</p>
		    	<%= yield(:content) or yield %>
	    </div>
		<div id="footer">
			<p>Copyright 2009</p>
		</div>
	</div>
  </body>
</html>
