<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "classical", "menu_style", 'main' , :media => "all" %>
		<%= javascript_include_tag :defaults %>

    <title>Classical - <%= (yield :title) || 'Classical'	%></title>
  </head>
  <body>
     <!-- Begin Wrapper -->
    <div id="wrapper">
      <!-- Begin Header -->
      <div id="header">
        <div id="user">
          <% if logged_in? %>
            <%= h current_user.login %>
            <%= link_to  'Logout', logout_path, :id => 'link_logout' %>
          <% end %>
        </div>
        <h1><%= link_to 'Classical', home_path, :id => 'link_home' %></h1>
      </div>

      <!-- End Header -->

      <!-- Begin Navigation -->
      <div id="navigation">
        <%= render :partial => 'layouts/menu' %>
      </div>
      <!-- End Navigation -->

      <!-- Begin Faux Columns -->
      <div id="faux">
        <!-- Begin Left Column -->
        <div id="leftcolumn">
        </div>
        <!-- End Left Column -->

        <!-- Begin Right Column -->
        <div id="rightcolumn">
          <p>
            <% flash.each do |key, msg| %>
              <div class="<%= key %>">
                <%= msg %>
              </div>
            <% end %>
          </p>
          <%= yield(:content) or yield %>
          <div class="clear"></div>
        </div>
        <!-- End Right Column -->

        <div class="clear"></div>
      </div>
      <!-- End Faux Columns -->

      <!-- Begin Footer -->
      <div id="footer">
        <%= render :partial => 'layouts/footer' %>
      </div>
      <!-- End Footer -->
   </div>
  </body>
</html>

